@model AssetsStore_InterView.ViewModel.AssetDetailViewModel

@{
    ViewData["Title"] = "Create";
   
}

<h1 style="text-align:center">Create New Asset</h1>


<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" id='form'>
           
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
                
            </div>
           <div class="m-2">
               <h4 class="card-title" style="float:left" >Attribute</h4>
               <button type="button" class="btn btn-secondary add" style="float:right" name="add">Add</button>
           </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Name")
                        </th>
                        <th>
                            @Html.DisplayName("Description")
                        </th>
                        <th>operation</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                   
                        <tr class="AttributeRow">
                            <input type="hidden" name="Attributes[0].ID" value="ID">
                            <td>
                                <input asp-for="Attributes" name="Attributes[0].Name" class="form-control" />
                            </td>
                            <td>
                                <input asp-for="Attributes" name="Attributes[0].Description"
                                   class="form-control" />

                            </td>
                            <td>
                                <button type="button" id="remove" name="remove" class="btn btn-danger remove">Delete</button>
                                </td>
                        </tr>
                      
                    <input type="hidden" value="0" id="total_Attribute">
                </tbody>
            </table>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-danger">Back to Assets</a>
                <input type="submit" value="Save" class="btn btn-primary" />
              
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
